# ðŸ§  SQLite Practice Lab
This notebook allows you to run SQL queries directly from Jupyter using `ipython-sql`.

In [ ]:
%load_ext sql
%sql sqlite:///demo.db

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    major TEXT
);

In [ ]:
%%sql
INSERT INTO students (name, age, major) VALUES
('Alice', 22, 'Data Science'),
('Bob', 23, 'Computer Engineering'),
('Charlie', 21, 'Mathematics');

In [ ]:
%%sql
SELECT * FROM students;